html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#content{
    width: 500px;
    height: 700px;
    display: flex;
}

#container{
    flex: 1 1 0;
    background-color: #434747;
    padding: 60px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#display{
    background-color: #589c5c;
    width: 100%;
    flex: 3 1 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 60px;
    font-weight: 900;
    padding: 10px; /* Adds some spacing */
}

#display p {
    word-break: break-word; /* Ensures the text inside breaks */
    overflow-wrap: break-word;
    white-space: normal;
    text-align: right; /* Align text to the right */
    width: 100%; /* Makes sure the text container spans full width */
    margin: 0;
    padding: 0;
}

.rows{
    width: 500px;
    height: 150px;
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.row{
    flex: 1 1 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 24px;
}

button {
    flex: 1 1 0;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(143, 141, 141);
    color: whitesmoke;
}

